- name: Run ANTA
  hosts: rtr1
  connection: local
  gather_facts: false
  tasks:
    - name: Run ANTA on EOS devices
      timeout: 120
      import_role:
        name: arista.avd.anta_runner
      vars:
        avd_catalogs_enabled: false 
        user_catalogs_enabled: true
        avd_create_directories: true
        root_dir: "{{ playbook_dir }}"
        
    # - name:
    #   ansible.builtin.command: cat /runner/project/anta/reports/anta_report.json


    - name: Retrieve a repository from a distant location and make it available locally
      ansible.scm.git_retrieve:
        origin:
          url: https://github.com/mogreen1/reports.git
          token: "{{ Token }}"
        parent_directory: /tmp

    - name: copy files
      ansible.builtin.command: cp -r /runner/project/anta/reports /tmp/reports
      delegate_to: localhost
      connection: local

    - name: Push to repo
      ansible.scm.git_publish:
        commit:
          message: Upload Reports
        user:
          email: my@email.com
          name: myuser
        path: /tmp/reports
        token: "{{ Token }}"