service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
enable password ios
!
username ios privilege 15 password 0 ios
no aaa new-model
!
!
!
!
!
!
!
!
no ip domain-lookup
ip domain-name shadowman.dev
ip cef
no ipv6 cef
!
!
!
spanning-tree mode pvst
spanning-tree extend system-id
!
vlan internal allocation policy ascending
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface GigabitEthernet0/0
 switchport mode access
 media-type rj45
 negotiation auto
!
interface GigabitEthernet0/1
 media-type rj45
 negotiation auto
!
interface GigabitEthernet0/2
 media-type rj45
 negotiation auto
!
interface GigabitEthernet0/3
 media-type rj45
 negotiation auto
!
interface GigabitEthernet1/0
 media-type rj45
 negotiation auto
!
interface GigabitEthernet1/1
 media-type rj45
 negotiation auto
!
interface GigabitEthernet1/2
 media-type rj45
 negotiation auto
!
interface GigabitEthernet1/3
 media-type rj45
 negotiation auto
!
interface Vlan1
 ip address 172.16.5.23 255.255.255.0
interface Vlan20
 ip address 10.10.20.{{ hostvars[inventory_hostname]['hostbit']}} 255.255.255.0

 
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 172.16.5.1
ip ssh version 2
!
!
!
!
!
control-plane
!
banner exec ^C
*************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS *
* education. IOSv is provided as-is and is not supported by Cisco's     *
* Technical Advisory Center. Any use or disclosure, in whole or in part,*
* of the IOSv Software or Documentation to any third party for any      *
* purposes is expressly prohibited except as otherwise authorized by    *
* Cisco in writing.                                                     *
************************************************************************C
banner incoming ^C
*************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS *
* education. IOSv is provided as-is and is not supported by Cisco's     *
* Technical Advisory Center. Any use or disclosure, in whole or in part,*
* of the IOSv Software or Documentation to any third party for any      *
* purposes is expressly prohibited except as otherwise authorized by    *
* Cisco in writing.                                                     *
************************************************************************C
banner login ^C
*************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS *
* education. IOSv is provided as-is and is not supported by Cisco's     *
* Technical Advisory Center. Any use or disclosure, in whole or in part,*
* of the IOSv Software or Documentation to any third party for any      *
* purposes is expressly prohibited except as otherwise authorized by    *
* Cisco in writing.                                                     *
************************************************************************C
!
line con 0
line aux 0
line vty 0 4
 exec-timeout 0 0
 privilege level 15
 login local
 transport input all
!
!
end